/* =========================
   Footer
========================= */

footer {
  background: linear-gradient(180deg, #0f172a, #020617);



  padding: 3rem 0;
  text-align: center;
}

/* =========================
   Logo
========================= */

.footer_logo {
  font-size: 1.8rem;
  font-weight: 600;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 2rem;
}

/* =========================
   Permalinks
========================= */

.permalinks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 2rem;
}

.permalinks li a {
  color: var(--color-light);
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.permalinks li a:hover {
  color: var(--color-primary);
}

/* =========================
   Social Icons
========================= */

.footer_socials {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  margin-bottom: 2rem;
}

.footer_socials a {
  background: var(--color-bg-variant);
  color: var(--color-primary);
  padding: 0.7rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 1.1rem;
  transition: all 0.4s ease;
}

.footer_socials a:hover {
  background: var(--color-primary);
  color: #0b0d24;
  transform: translateY(-6px);
}

/* =========================
   Copyright
========================= */

.footer_copyright {
  color: var(--color-light);
  font-size: 0.85rem;
}

.footer_copyright a {
  color: var(--color-primary);
}

/* =========================
   Responsive
========================= */

@media (max-width: 600px) {
  .permalinks {
    gap: 1rem;
  }

  .footer_logo {
    font-size: 1.5rem;
  }
}
