.home {
  height: 100vh;
  padding-top: 50px;
  overflow: hidden;
}

.home_container {
  text-align: center;
  height: 100%;
  position: relative;
}
.home_container h4 {
  font-size: 1.5rem;
}
.btns {
  display: flex;
  gap: 1.2rem;
  margin-top: 2.5rem;
  justify-content: center;
}

.me img {
  width: 40vh;
  height: 45vh;
  margin: 3vh auto;
  background: linear-gradient(var(--color-primary), transparent);
  border-radius: 12rem 12rem 0 0;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  overflow: hidden;
}

.scroll_down {
  position: absolute;
  right: -103px;
  transform: rotate(90deg);
  letter-spacing: 4px;
  bottom: 80px;
  font-weight: 500;
}

.Social_icons {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  bottom: 14px;
}
@media (max-width: 1024px) {
  .home_container h1 {
    font-size: 2.4rem;
  }

  .me img {
    width: 35vh;
    height: 40vh;
  }

  .scroll_down {
    display: none;
  }
}

/* =======================
   MOBILE (max-width: 600px)
======================= */

@media (max-width: 600px) {
  .home {
    height: auto;
    padding-bottom: 2rem;
  }

  .home_container h1 {
    font-size: 2rem;
  }

  .home_container h4 {
    font-size: 1.2rem;
  }

  /* .btns {
    flex-direction: column;
    gap: 1rem;
  } */

  .me img {
    width: 70%;
    height: auto;
    margin-top: 2rem;
  }

  .Social_icons {
    position: static;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;
  }
}